{% extends 'base.html' %}

{% block body %}
    <section class="w-100 p-3" style="background-color: #ffffff;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-md-9 col-lg-7 col-xl-5">
        <div class="card" style="border-radius: 15px;">
          <div class="card-body p-6">
            <div class="d-flex text-black">
              <div class="flex-shrink-0">
                <img src="{{ foto_perfil }}"
                  alt="Generic placeholder image" class="img-fluid"
                  style="width: 250px; height: 190px; border-radius: 10px;">
              </div>
              <div class="flex-grow-1 ms-3">
                <h5 class="mb-1">{{ current_user.username }}</h5>
                <p class="mb-2 pb-1" style="color: #2b2a2a;">{{ current_user.email }}</p>
                <div class="d-flex justify-content-between rounded-3 p-1 mb-1 "
                  style="background-color: #efefef;">
                  <div>
                    <p class="small text-muted mb-1">Cursos</p>
                    {% if 'Não informado' in current_user.cursos %}
                      <p class="mb-1 ms-3">0</p>
                    {% else %}
                      <p class="mb-1 ms-3">{{ current_user.cursos.count(';') +1 }}</p>
                    {% endif %}
                  </div>
                  <div>
                    <p class="small text-muted mb-1 ms-4">Postagens</p>
                    <p class="mb-1 ms-5">{{ current_user.contar_posts() }}</p>
                  </div>
                </div>
                <div class="d-flex pt-2">
                  <a class="w-100" href="{{ url_for('editar_perfil') }}">
                    <button type="button" class="btn btn-outline-primary btn-lg w-100">Editar Perfil</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="row justify-content-center">
    <div class="col col-4" style="text-align: center">
      <strong>Cursos</strong><br>
      {% for curso in current_user.cursos.split(';') %}
        <button type="button" class="btn btn-success mt-2" disabled>{{ curso }}</button>
      {% endfor %}
    </div>
</div>
</section>
{% block form_editar_perfil %}
{% endblock %}

{% endblock %}
